
    .rpv-core__inner-page{
      width: 100% !important;
      /* height: 324px !important; */
    }
    .rpv-core__page-layer{
      width: 100% !important;
      /* height: 324px !important; */
    }

    .rpv-core__canvas-layer{
      width: 100% !important;
      /* height: 324px !important; */
    }
    canvas{
      width: 100% !important;
      /* height: 324px !important; */
    }

    /* .rpv-core__text-layer{
      height: 324px !important;
    } */